.app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .swiper-slide {
    .page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: left;
      margin-left: 2.5%;
      padding-bottom: 5%;
      height: 100%;
      width: 45%;
      opacity: 0;
      transition: opacity 0.7s ease-in-out;
    }

    .title {
      width: 50%;
      font-size: 40px;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      color: var(--first-color);
      margin-bottom: 10px;
    }

    .subtitle {
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      color: var(--text-color);
      line-height: 1.75;
    }

    button {
      font-family: "Montserrat", sans-serif;
      color: var(--text-color);
      margin-top: 20px;
      font-size: 15px;
      background: var(--first-color);
      color: var(--background-color);
      height: 40px;
      padding: 20px 30px 20px 30px;
      border-radius: 25px;
      transition: padding 0.3s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &:hover {
        cursor: pointer;
        padding: 20px 50px 20px 40px;

        i {
          opacity: 1;
          visibility: visible;
          transition: opacity 0.3s ease-in-out, visibility 0s 0.1s;
        }
      }

      i {
        right: 20px;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transition: opacity 0.3s ease-in-out, visibility 0s 0.1s;
      }
    }


  }

  .slide-1 {
    background-color: white;
    background-image: url(../../assets/img/background1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


  .slide-2 {
    background-color: white;
    background-image: url(../../assets/img/background2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .slide-3 {
    background-color: white;
    background-image: url(../../assets/img/background3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .slide-4 {
    background-color: white;
    background-image: url(../../assets/img/background4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .slide-5 {
    background-color: white;
    background-image: url(../../assets/img/background5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .fade-in {
    opacity: 1 !important;
  }

  .fade-out {
    opacity: 0 !important;
  }
}